.btn {
    font-family: inherit;
    font-weight: 800;
    color: #ebebeb;
    display: block;
    width: 50%;
    max-width: 370px;
    background: #3d587f;
    padding: 8px 12px;
    margin: 0 auto;
    margin-top: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 4px 4px 7px rgba(0,0,0,.9);
    transition:  background .4s, box-shadow .4s;
}

.btn:hover {
    background-color: #2e3440;
    box-shadow: 8px -1px 7px rgba(0,0,0,.3);
}

.btn:focus {
    outline: none;
}