@media screen and (max-width: 650px) {
    .category-box {
        flex: 100%;
    }
}

.category-box {
    margin-top: 16px;
    display: flex;
    max-height: 100px;
    overflow-y: auto;
    flex-wrap: wrap;
}