.nav-collapse ul {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
    list-style: none;
}


.nav-collapse li {
    width: 100%;
    margin: 8px 0;
    display: block;
}

header a {
    font-size: 20px;
    padding: 12px 16px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: .4s;
}

header a:hover {
    background: #3d587f;
    box-shadow: 5px 8px 10px rgba(0,0,0,.3);
}

header {
    flex: 10%;
    text-align: center;
    border-radius: 8px;
    padding: 12px;
    max-width: 80px;
    min-width: 80px;
    margin: 8px 12px;
    box-shadow: 7px 4px 12px rgba(0,0,0,.2);
    background: #2e3440;
    color: white;
}

@media screen and (max-width: 770px) {
    .nav-collapse ul {
        flex-direction: row;
    }
    header {
        margin: 8px auto;
        max-width: 100%;
        min-width: 100%;
    }
}