.price-filter {
    margin: 16px 8px 0;
    font-family: inherit;
    border-radius: 8px;
    background-color: #ebebeb;
    color: #333;
    border: none;
    width: 80px;
    padding: 8px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 4px 0 7px rgba(0,0,0,.5);
}

.price-filter:focus {
    outline: none;
}

.price-box {
    flex: 30%;
}

@media screen and (max-width: 770px) {
    .price-box {
        flex: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}