.search-box {
    background-color: #2e3440;
    min-width: 360px;
    padding: 16px;
}

.filters {
    width: 65%;
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 650px) {
    .filters {
        flex-direction: column; 
    }
}