.search-box {
    background-color: #2e3440;
    width: 90%;
    margin: 8px auto;
    min-width: 360px;
    border-radius: 8px;
    padding: 20px;
}

.filters {
    width: 65%;
}


@media screen and (max-width: 650px) {
    .filters {
        width: 100%;
        flex-direction: column; 
    }
}