.search-box {
    flex: 90%;
    background-color: #2e3440;
    margin: 8px 12px;
    box-shadow: 7px 2px 12px rgba(0, 0, 0, .3);
    border-radius: 8px;
    padding: 20px;
}

.filters {
    position: relative;
    margin: 12px auto 0;
    width: 90%;
    display: flex;
}


@media screen and (max-width: 770px) {
    .search-box {
        flex: 100%;
        margin: 8px auto;
        max-width: 100%;
        min-width: 100%;
    }

    .filters {
        width: 100%;
        flex-direction: column;
    }
}